@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

// remove format issues on inputs
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

html, body, #root, .App {
  height: 100vh;
}

.App {  
  font-family: 'Roboto', sans-serif;
  // flex: 1;
  // display: flex;
  // flex-direction: column;
}

.main-section {
  // flex: 1;
}

.output-pill {
  border: 1px solid #e1e1e1;
  height: 50px;
  border-radius: 25px;
  line-height: 30px;
  padding: 10px 85px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top:15px;
  margin-bottom: 15px;
  position: relative;
  overflow:hidden;
  & .flag {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 75px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    &.canadian {
      background-image: url('../images/canadian-flag.svg');
    }
    &.mexican {
      background-image: url('../images/mexican-flag.svg');
    }
  }
  & .denom {
    position: absolute;
    right: 0;
    font-size: 12px;
    background: #f9f9f9;
    height: 50px;
    top: 0;
    line-height: 30px;
    padding: 10px 25px;
    // border-radius: 0 25px 25px 0;
  }
}